.vscode/launch.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
sample_projects/achim_ns_1.qet
sample_projects/achim_ns_2.qet
sample_projects/achim_ns.qet
sample_projects/achim_test_1.qet
sample_projects/achim_test.qet
sample_projects/Alimentacao e Moagem.qet
sample_projects/CLAUGERV1.qet
sample_projects/control_simple.qet
sample_projects/control.qet
sample_projects/Jaroslaw_schemat_revA.4_TBv1.7.qet
sample_projects/Jaroslaw_schemat_revA.4.qet
sample_projects/sample.qet
sample_projects/THERMO_v0.8dev.qet
sample_projects/achim_bugs/Basic_t.qet
sample_projects/achim_bugs/basic.qet
sample_projects/achim_bugs/tbgenerator.zip
sample_projects/achim_bugs/Test1.qet
sample_projects/achim_bugs/Test2.qet
sample_projects/achim_bugs/Test3.qet
sample_projects/achim_bugs/Test4.qet
sample_projects/jaroslaw.qet
sample_projects/schemat_revA.5.qet.zip
